@{
    ViewBag.Title = "";
}

<h1>Administrator</h1>
<br />

<div class=" col-md-2 col-sm-2">
    <div class="thumbnail">
        <a href="/Category/Index">
            
            <h6>Categories</h6>
        </a>
    </div>
</div>

<div class=" col-md-2 col-sm-2">
    <div class="thumbnail">
        <a href="/Subcategory/Index">

            <h6>Subcategories</h6>
        </a>
    </div>
</div>


<div class=" col-md-2 col-sm-2">
    <div class="thumbnail"
        <a href="/Product/Index">
            
            <h6>Products</h6>
        </a>
    </div>
</div>

